*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

img{
	max-width: 1000px;
}

h2{
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
}

h3{
font-size: 20px;
text-decoration: underline;
}



h1{
	text-decoration: underline;
}

header{
	background-color: #267f85;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	width: 100%;
	height: 100px;
	background-color: lightgrey;
}

nav a, {
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
}

nav ul{
	color:black;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover{
	color:  #267f85;
	background-color: transparent;
	text-decoration: underline;
}

ul{
	padding-top: 5px;
    display: inline;
}

h4 {
	margin-top:5px;
	color: black;
}


